@{
    ViewData["Title"] = "Test Page";
}

<style>
    .out-of-stock {
        background-color: red;
    }

    .low-stock {
        background-color: orange;
    }
</style>

<h1>In Stock items</h1>

@*
    Display a table here which shows the products with any Available stock
    - use the bootstrap table styling
    - Available stock = Total Stock - Reserved Stock
    - Columns shown:
        - action => with a link to a placeholder product detail page. 
        - Name
        - Total Amount in stock
        - Available stock (this should be orange if < 10 and red < zero)

*@

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Total Amount in Stock</th>
            <th>Available Stock</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@product.Name</td>
                <td class="@(product.InStockQuantity > 10 ? "in-stock" : (product.InStockQuantity == 0 ? "out-of-stock" : "low-stock"))">@product.InStockQuantity</td>
                <td>@product.ReservedQuantity</td>
            </tr>
        }
    </tbody>
</table>